; Energy Minimization
;
integrator              = steep
emtol                   = 1000.0
emstep                  = 0.01
nsteps                  = {{ em_steps }}

; Output
nstxout                 = 0
nstvout                 = 0
nstfout                 = 0
nstenergy               = 500
nstlog                  = 500

; Neighbor searching
cutoff-scheme           = Verlet
nstlist                 = 20
rlist                   = 0.9
pbc                     = xyz

; Electrostatics
coulombtype             = PME
rcoulomb                = 0.9

; VdW
vdwtype                 = Cut-off
vdw-modifier            = None
rvdw                    = 0.9
DispCorr                = EnerPres

; No constraints during minimization
constraints             = none
